body {background:#787878}
#scale {
    width: 100%;
    position: absolute;
}
#circle {
    width: 50%;
    padding-bottom: 50%;
    top: 25%;
    left: 25%;
    position: absolute;
    background-image: url('https://server.wwsu1069.org/images/icons/apple-icon.png');
    background-size: cover;
    display: block;
    position: absolute;
    border-radius: 66%;
    -webkit-border-radius: 66%;
    -moz-border-radius: 66%;
    transition: all ease-in-out .05s;
    z-index: 10;
}

#circle-2 {
    width: 75%;
    padding-bottom: 75%;
    top: 12.5%;
    left: 12.5%;
    position: absolute;
    background: #ff0000;
    background-size: cover;
    display: block;
    position: absolute;
    border-radius: 66%;
    -webkit-border-radius: 66%;
    -moz-border-radius: 66%;
    transition: all ease-in-out .1s;
    z-index: 1;
}

.canvas {
    width: 100%;
}